@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    void ButtonClicked()
    {
        // Handle the Click event of RadzenButton
    }
}
6. Use D